/*Se importa la fuente "Oswald" desde Google Fonts para usar en toda la página.*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

/*Se aplica a todos los elementos de la página y establece que la fuente utilizada será "Oswald" y la tipografía se establece como "sans-serif".*/
* {
  font-family: "Oswald", sans-serif;
}
html {  font-size: 16px; /* Tamaño de fuente base */}

p, a, label, input,textarea, button {  font-size: 1.25em; /* 16px */}

h1 {  font-size: 2.5rem; /* 40px */}

h2 {  font-size: 2rem; /* 32px */}

h3 {  font-size: 1.75rem; /* 24px */}

h4 {  font-size: 1.5rem; /* 20px */}

h5 {  font-size: 1rem; /* 16px */}

h6 {  font-size: 0.875rem; /* 14px */}

/* Estilos para el contenedor del logo, el nombre del sitio y la fecha/hora */
header {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cabecera{
  display: flex;
  align-items:center;
  justify-content:left;
}
/* Estilos para el logo */
header img {
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para el nombre del sitio */
header h1 {
  font-size: 3em;
  color: #333;
  margin-left: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Estilos para la fecha y hora */
.relog{
  text-align: left;
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}





/* Establece el color de fondo de la página web como un tono gris claro.*/
body {  
  background-color: #f5f5f5;
}
/*Define un contenedor que utiliza el modelo de diseño flexible (flexbox) para distribuir los elementos de manera uniforme.*/
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:baseline;
  justify-content:left;
	align-content: stretch;
  
}

/**Aplicando color de fondo color de las letras en los bloques para que cambien al poner el cursor sobre ellos **/
.art:hover {
  background-color: black;
  color: #f9f9f9;
}
.flex-container div{
  text-align: center;
}
.flex-container p,h1, h2, h3, h4, h5, h6 {
  text-align: justify;
  padding: 15px;
}


/** Cambia el color de fondo del footer */
footer {
  background-color: #c9d2d0;
  color: #31231e;
}
/** cambia de estilo a negrita y quita subrayado cuando el cursor pasa por encima, manteniendo el subrayado cuando no está el cursor sobre el enlace */
a:hover {
  font-weight: bold;
  text-decoration: none;
}

/*Define un conjunto de reglas que se aplicarán cuando el ancho de la pantalla sea de al menos 1024 píxeles.
 En este caso, los elementos div dentro de .flex-container tendrán un ancho del 32% para tener 3 columnas, una altura del 100% y un margen de 5 píxeles entre ellos. 
 Las imágenes y los videos dentro del contenedor tendrán un ancho del 90%.*/
@media screen and (min-width: 1200px){
  .flex-container div{
    width: 32%;
    height: 100%;
    margin: 5px;
  }
.flex-container img{
    width: 90%;
  }
.flex-container video{
    width: 90%;
  }      
}

/*@media screen and (max-width: 740px): Define un conjunto de reglas que se aplicarán cuando el ancho de la pantalla sea de un máximo de 740 píxeles. 
En este caso, los elementos div dentro de .flex-container tendrán un ancho del 100% para tener 1 columna, una altura del 100% y un margen de 3 píxeles entre ellos. 
Las imágenes y los videos dentro del contenedor tendrán un ancho de 400 píxeles.*/
@media screen and (max-width: 800px){
  .flex-container div{
    width: 100%;
    height: 100%;
    margin: 3px;
  }
.flex-container img{
    width: 400px;
  }
.flex-container video{
    width: 400px;
  }  
}
/*@media screen and (min-width: 740px) and (max-width: 1024px): Define un conjunto de reglas que se aplicarán cuando el ancho de la pantalla esté entre 740 y 1024 píxeles. 
En este caso, los elementos div dentro de .flex-container tendrán un ancho del 45% para tener 2 colimnas, una altura del 100% y un margen de 5 píxeles entre ellos. 
Las imágenes y los videos dentro del contenedor tendrán un ancho del 90%.*/
@media screen and (min-width: 800px) and (max-width: 1200px){
  .flex-container div{
    width: 45%;
    height: 100%;
    margin: 5px;
  }
.flex-container img{
    width: 90%;
  }
.flex-container video{
    width: 90%;
  }  
}  

form {
/*  display: flex;*/
/*  flex-direction: column;*/
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  width: 90%;
}

input, textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 90%;

}

button, .btn {
  background-color: #18751b;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #50b954;
}
.parrafo{
  height: 300px;
  resize: none;
}